/* -----------------CSS for table--------------- */
tr{
    border: 1px solid #e4e4e4;
}

th{
    background-color: #F9F9F9;
    color: #646464;
    padding: 16px 14px;
    text-align: left;
}
th a, td a{
    color: #646464;
}
th a:hover, td a:hover{
    color: #979797;
}
td{
    padding: 5px 14px;
}


/* ---------------Pegination-Section CSS------------- */
.pegination{
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
}
.pegination select{
    padding: 7px 10px;
    border: 1px solid #C8C8C8;
    border-radius: 4px;
    color: #A0A0A0;
    background-color: white;
}
.pegination ul{
    display: flex;
    flex-wrap: wrap;
}
.pegination li a{
    color: #646464;
    border: none !important;
}
.pegination ul>li{
    list-style: none;
    border-radius: 50%;
    border: 1px solid #C8C8C8;
    font-weight: bold;
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px;
    color: #646464;
}
.pegination ul>li:hover{
    background-color: #1fb6ff;
    color: white;
    cursor: pointer;
}
